.stroke-style {
  background-color: white;
  position: relative;
  float: left;
}

.stroke-style-selected {
  position: relative;
  width: 40px;
  height: 40px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  position: relative;
}

.stroke-style-current {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border-radius: 50%;
  border: 2px solid #ddd;
  width: 20px;
  height: 20px;
}

.stroke-style-options {
  position: absolute;
  bottom: 100%;
  background-color: white;
  width: 200px;
  /*box-sizing: border-box;*/
  border: 1px solid #ddd;
}

.stroke-style-options:before {
  content: "";
  display: table;
}
.stroke-style-options:after {
  content: "";
  clear: both;
  display: table;
}

.stroke-style-option {
  position: relative;
  width: 40px;
  height: 40px;
  float: left;
}

.stroke-style-option > span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: 2px solid #ddd;
}