body {
  -webkit-user-select: none;
  user-select: none;
  margin: 0;
  background-color: #eee;
  overflow: hidden;
}


canvas {
  display: block;
  box-sizing: border-box;
  width: 100%;
  background-color: white;
}